__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
us_rebate_receipts/jobs/*.db
us_rebate_receipts/jobs/*.db-wal
us_rebate_receipts/jobs/*.db-shm
us_rebate_receipts/output/
test_txn*.db
.coverage
.pytest_cache/
test_txn*.db*
us_rebate_receipts/config/stores/
us_rebate_receipts/config/general_skus.json
us_rebate_receipts/config/target_skus.json
